@use './partials/variables' as *;

//UTILITIES

.my-container {
    max-width: 1200px;
    margin: 0 auto;
}

//GENERIC


img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $black;
    margin: 3px;
}

p {
    color: $grey;
    font-weight: 200;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}