//COLOR PALETTE

//Background colors: 16
$white : #ffffff;
$black : #000000;
$main : #690500;
$greywhite: #FAFAFA;
$lightgrey : #cccccc;
$greylight : #bdbdbd;
$grey : #6a6a6a;
$greydark: #1E1C1C;
$darkgrey : #1e1e1e;
$black-grey : #181515;